.flex{
    display:  flex;
    direction: row;
}
.justifycontent{
    justify-content: space-around;
}
.alignitem{
    align-items: center;
}
.gap{
    gap: 20px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: aliceblue;
}